<%@bookings.each do |booking|%>
  <% if booking.status == 'pending' %>
    <%pool = SwimmingPool.find(booking.swimming_pool.id)%>
    <%renter = User.find(booking.user_id)%>
    <div class="card-booking">
      <%= cl_image_tag  pool.photo.key %>
      <div class="card-booking-infos w-100">
        <h2><%=pool.name%></h2>
        From : <%=renter.first_name%>
        <div class='d-flex row'>
          <div class="details-info col-4 ">
            <p style='font-size: 15px'>Total Price : <strong><%=booking.total_price%> €</strong></p>
          </div>
          <div class=' col-8 d-flex d-flex justify-content-around'>
            <p style='font-size: 15px'>From : <strong><%=booking.start_date%></strong></p>
            <p style='font-size: 15px'>To : <strong><%=booking.end_date%></strong></p>
          </div>
        </div>
      </div>
      <div class='btn-booking-validation pr-3 h-100 flex-column pt-5'>
        <%= link_to 'Accept Offer',
                  accept_owner_booking_path(booking),
                  class: 'text-success',
                  method: :patch,
                  data: { confirm: "Are you sure?" } %>
        <%= link_to 'Decline offer',
                  decline_owner_booking_path(booking),
                  class: 'text-danger',
                  method: :patch,
                  data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  <% end %>
<%end%>
