<h2 class='pl-4 pt-3 fw-b' ><strong>Your Bookings</strong></h2>
<%if @my_bookings.length == 0%>
   <div>
    <h1 class="text-center mt-4">Soo SAD, no Ploof experience Booked...<br>
    <strong> Pick a pool below</strong> and live the PLOOF of your Life !!!</h1>
    <div class="top-rated-box recommandation">

      <% @swimming_pools.each do |pool| %>
        <%= link_to swimming_pool_path(pool) do %>
          <div class="card-index item">
            <%= cl_image_tag pool.photo.key %>
            <div class="content-home-swimming w-100">
              <div class='d-flex justify-content-between'>
                <h2><%= pool.name %></h2>
                <hh21 class="rating">5 ★</h2>
              </div>
              <div class=''>
                <p class="location"><i class="fas fa-location-arrow"></i> <%= pool.address.capitalize %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
   </div>
<% else %>
  <div class="container">
    <div class='d-flex flex-wrap'>
      <%@my_bookings.each do |booking|%>
        <div class="card-my-bookings m-2" ">
          <%= cl_image_tag  booking.swimming_pool.photo.key %>
          <div class="card-my-bookings-infos w-100">
            <h2><%=booking.swimming_pool.name%></h2>
            <div class="details-info">
              <p>Total Price : <strong><%=booking.total_price%> €</strong></p>
            </div>
            <div class=calendar>
              <p>From : <%=booking.start_date%></p>
              <p>To : <%=booking.end_date%></p>
            </div>
            <div>
            <h6>Status: <strong><%= booking.status %></strong></h6>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
