
<div class="container">
  <h1>Enter your new pool to rent :</h1>

  <%= simple_form_for @swimming_pool do |f| %>
    <%= f.input :name, label: 'Name of your pool', placeholder: 'Big blue pool...' %>
    <%= f.input :description %>
    <%= f.input :address, label: 'Address of your pool' %>
    <%= f.input :length, label: 'Length (in meters)', placeholder: '50' %>
    <%= f.input :width, label: 'width (in meters)', placeholder: '50' %>
    <%= f.input :max_depth, label: 'Max_depth (in meters)', placeholder: '2' %>
    <%= f.input :price_per_day, label: 'Price per day (in €)', placeholder: '50' %>
    <%= f.input :treatment, label: 'Treatment for the water', placeholder: 'Natural, Chlore,...' %>
    <%= f.input :temperature, label: 'Temperature of the water (in °C)', placeholder: '20' %>
    <%= f.input :max_people,  label: 'Max nb. of people allowed', placeholder: '10' %>
    <%= f.input :kids_friendly, label: 'Yes, kids are welcome !' %>
    <%= f.input :pets_friendly, label: 'Are pets welcome ?', collection: ['yes', 'no'] %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
