

<div class="container">
  <%= link_to swimming_pools_path, class:"btn btn-flat" do %>
    <i class="fas fa-arrow-circle-left "></i> Back
  <% end %>


  <div class="item photo-show-swimming position-relative"
      style='background:linear-gradient(rgba(0, 0, 0, 0.1),  80%, rgba(0, 0, 0, 0.8)), url("<%= cl_image_path  @swimming_pool.photo.key %>")'>
    <h1 class="text-center p-2"><%= @swimming_pool.name.capitalize %></h1>
  </div>

  <div class="item price">
    <h3><%= @swimming_pool.price_per_day %>€/day</h3>
</div>

  <div class="text-center">
     <%= link_to "I want to swmin in it ! Let's book", "", class: "btn btn-gradient text-center"  %>
  </div>



  <h2 class="text-center mt-4">Our customers also recommend...</h2>
  <div class="top-rated-box recommandation">

    <% @swimming_pools.each do |pool| %>
      <div class="item">
        <%= cl_image_tag pool.photo.key %>
        <div class="content-home-swimming">
          <p class="location"><i class="fas fa-location-arrow"></i> <%= pool.address.capitalize %></p>
          <h2><%= pool.name %></h2>
          <h3> Proposed by <%= pool.user.first_name.capitalize %> </h3>
          <h4><i class="fas fa-tags"></i> <%= pool.price_per_day %>$/day </h4>
          <h4 class="rating">5.0 ★</h4>
        </div>
      </div>
    <% end %>
  </div>

</div>
<%= simple_form_for([@swimming_pool, @new_booking]) do |f| %>
  <%= f.input :start_date, as: :date %>
  <%= f.input :end_date, as: :date %>
  <%= f.submit "coucou" %>
<% end %>

